body {
    

    background: linear-gradient(to top, rgba(1,8,14,1) 0%, rgba(4,24,50,1) 35%, rgba(24,117,233,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
