body {
    background: linear-gradient(to top, rgba(1,8,14,1) 0%, rgba(4,24,50,1) 35%, rgba(24,117,233,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0px;
}

#banner {
    width: 156.36px;
    padding: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
#marcaagua{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}